*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url(https://picsum.photos/1920/1080);  deixando assim n carrega toda vez*/
  font-family: sans-serif, monospace;
  color: white;

  width: 100vw;
  height: 100vh;  
  overflow: hidden;
}

img{
  width: 100vw;
  height: 100vh;  
  background-size: cover; 
}


#clockDisplay{
  font-size: 9rem;

  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);  
}


#welcome{
  font-size: 3.3rem;

  position: absolute;
  top: 52%; 
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.content__search {
  position: absolute;
  top: 65%; 
  left: 50%;
  transform: translate(-50%, -50%);

  height: 50px;

  width: 70%;
  max-width: 736px;
  padding: 8px 11px 8px 20px;

  font-size: 19px;
  color: white;
  background: transparent;

  border-radius: 25px;
  border: 2px solid #ffffff9e;
  outline: 0;
  
}
.content__search:focus {
  box-shadow:  0 0 1rem rgba(255, 255, 255, 0.898);
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.548);
  font: 20px verdana, sans-serif;
}


/* -------RESPONSIVE -----------  */
@media (max-width: 700px) {  
  #welcome {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {  
  img{
    width: 70vh;
  }
  #clockDisplay {
    font-size: 4.5rem;
    font-weight: 600;
  }
  #welcome{
    font-size: 2.2rem;
  }
} 
